.ant-modal-content{
    border-radius: 2%;
    background-color: linen;
}
.ant-modal-body{
    text-align-last: center;
}


.login {
    display: grid;
    grid-gap: 26px;
    justify-content: center;

&__subtitle{
    font-size: 17px;
}

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        // width: 50%;
    }

    &__title {
        color: black;
        font-size: 50px;
        font-weight: bold;
    }
}

.passwordLoginMsg{
    // padding:7px;
    margin-top: -14px;
    color: #d93025;
}