.clientInfo {

    margin-left: 13px;
    margin-top: 16px;

    &__button {
        text-align: right;
    }
    &__link{
        cursor: pointer;
    }

}
.array{
    height: 500px;
}